---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    En 2019 inicié en el desarrollo de software, enfocándome en tecnologías full-stack. Me motiva lo que con unas líneas de código se puede crear y todas las formas en la que el software nos facilita la vida. Actualmente soy ayudante de programación en el Centro de Investigación C+ de la Universidad del Desarrollo a la vez que estudio Ingeniería Comercial, ya que pienso que el software necesita de una visión comercial para poder impactar.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Ingeniería Comercial"
      subtitle="2019 a 2024 en Universidad del Desarrollo, Concepción, Chile. Mención Finanzas."
    />
    <!-- <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    /> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Freelancer"
      subtitle="Desde 2019 a 2022"
    >
      Desarrollé una gran variedad de sitios web: Para reposterías, bandas musicales, profesionales, instituciones, etc.
      Primero usando PHP y luego el Stack MERN (MongoDB, Express, React, Node js).
    </TimeLineElement>
    <TimeLineElement
      title="Desarrollador de software en Centro de investigación e innovación tecnológica UDD Concepción."
      subtitle="Desde 2021 hasta la actualidad"
    >
      Desarrollo de aplicaciones móviles y webs. Programación de scripts para arduino, administración de base de datos, peticiones webs, APIS, etc...
    </TimeLineElement>
    <!-- <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Foudations of CyberSecurity</a>
    </li>
    <li>
      <a href="#" target="_blank"> Play It Safe: Manage Security Risks</a>
    </li>
    <li>
      <a href="#" target="_blank"> Visualizaciones de Datos interactivas con D3 js</a>
    </li>
    <li>
      <a href="#" target="_blank"> Principios SOLID y Clean Code</a>
    </li>
    <li>
      <a href="#" target="_blank"> Node: De cero a Experto</a>
    </li>
    <li>
      <a href="#" target="_blank"> React: De cero a Experto (Hooks y MERN)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Javascript</li>
    <li>React js</li>
    <li>CSS</li>
    <li>Bootstrap</li>
    <li>Tailwind css</li>
    <li>Node js</li>
    <li>Express</li>
    <li>Python</li>
  </ul>
</BaseLayout>
