---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Servicios</div>
  </div>

  <HorizontalCard
    title="Desarrollo Web Full-Stack"
    img="/fullstack.webp"
    desc="Servicio integral de desarrollo de aplicaciones web que cubre desde la interfaz de usuario hasta el backend. Se crea una presencia en línea profesional, moderna y funcional, adaptada a las necesidades del negocio o proyecto del cliente. Cada detalle es cuidadosamente planificado e implementado para garantizar una experiencia de usuario excepcional."
    url="#"
  />
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Desarrollo Móvil"
    img="/app.webp"
    desc="Soluciones eficientes y atractivas para plataformas iOS y Android, optimizadas para brindar una experiencia de usuario superior. Desde el diseño hasta la implementación, cada aplicación se integra con tecnologías de backend y APIs, cumpliendo con altos estándares de rendimiento y seguridad, orientada a maximizar la conectividad con la audiencia y los objetivos del negocio."
    url="#"
  />
  <div class="divider my-0"></div>
  
  <HorizontalCard
    title="Análisis de Datos"
    img="/analisisdatos.webp"
    desc="Servicio especializado en transformar datos en información valiosa para apoyar la toma de decisiones estratégicas. Utilizando técnicas avanzadas de análisis y herramientas de procesamiento de datos, se ayuda a las empresas a comprender mejor a sus clientes, optimizar procesos y descubrir oportunidades clave para el crecimiento."
    badge="NEW"
    url="#"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
    title="Desarrollo de APIS y Bases de Datos"
    img="/apisbbdd.webp"
    desc="Desarrollo de APIs robustas y bases de datos eficientes para aplicaciones que requieren una estructura backend sólida. Este servicio incluye el diseño e implementación de soluciones que se adaptan a los requerimientos específicos de cada cliente, garantizando un alto rendimiento y facilidad de escalabilidad."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Programación"
    img="/programacion.webp"
    desc="Servicio de programación adaptado a las necesidades específicas de cada cliente, que abarca desde soluciones personalizadas hasta sistemas automatizados. Con código eficiente y estructurado, se garantiza el desarrollo de soluciones tecnológicas que impulsan los proyectos al siguiente nivel."
    url="#"
    badge="NEW"
  />
  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Service 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
